<mat-toolbar color="primary">
    
    <button mat-icon-button class="Example home icon" aria-label="Example icon-button with menu icon" href="home">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-icon>home</mat-icon>
    <a href=""></a>
    <span>{{title}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>login</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>